<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>net.cloudwithlightning.dictionary.Pokedex</string>
	<key>CFBundleName</key>
	<string>Pokédex</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>DCSDictionaryCopyright</key>
	<string>Data from Bulbapedia - CC BY-NC-SA 2.5</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>cloudwithlightning.net</string>
	<key>DCSDictionaryFrontMatterReferenceID</key>
	<string>front_back_matter</string>
</dict>
</plist>
